# Database
DATABASE_URL="postgresql://portfolio_manage:npg_Xltv3b1cJBUP@ep-cool-heart-ap3vbqu3-pooler.c-7.us-east-1.aws.neon.tech/my_portfolio_master?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_SECRET="2df13c6c22dba2357f5d9c85e059207fb1c9e5a0f8b2c3d4e5f6a7b8c9d0" # ⚠️ ควรเปลี่ยนเป็นค่าเฉพาะของคุณ
NEXTAUTH_URL="http://localhost:3000"

# OAuth Providers (Optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Telegram Bot
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# Admin Credentials (for seeding)
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="Admin@123456"
